*{

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;


}

.container {

    font-size: 0;

}

.container2{

    margin: 0 auto;


}

#navBar{

    background-color: beige;

    height: 135px;
}

#content{

    background-color: #9305F2;

    height: 600px;
    
}

#maincontent{

    

}

#nameinsert{
/*
    width: 80%;
    height: 55px;
    display: flex;
    */
}

#buttonsearch{
/*
    width: 8%;
    height: 55px;
    display: flex;
    padding: 17px;
    */
}

#cpf{

    
}